<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Speaking</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <p id="header-text">Speaking Language: <span id="language">English</span></p>
        <p id="change-lang-instruction">Change language using ← and →.</p>
        <p id='speech-to-text-output'>Speak now...</p>
    </div>
</body>

<script>
    // POST to flask to translate and store text
    const postTranslateAndStore = async (content) => {
        const response = await fetch('/translate_and_store', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'content': content
            })
        })
    }

    // alert if browser is unable to use speech recognition
    if (!window.hasOwnProperty("webkitSpeechRecognition")) {
        alert("Unable to use the Speech Recognition API");
    }

    // window.SpeechRecognition = window.speechRecognition || window.webkitSpeechRecognition;
    const recognition = new webkitSpeechRecognition(); // window.SpeechRecognition();
    // recognition.continuous = true;
    recognition.interimResults = true;
    recognition.lang = 'en-US';

    // log error if necessary
    recognition.addEventListener('onerror', (e) => {
        console.error(e);
    });

    // upon getting a recognition result
    recognition.addEventListener('result', (e) => {
        const text = Array.from(e.results)
            .map(result => result[0])
            .map(result => result.transcript)
            .join('');

        // translate, store, and display it
        postTranslateAndStore(text);
        document.getElementById('speech-to-text-output').innerHTML = text;
        window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
    });

    // continually start up if speech recognition ends
    recognition.addEventListener('end', () => {
        recognition.start();
    })

    recognition.start();

    // change language
    let languageIndex = 2
    const languageChangeClick = (event) => {
        const shorthandLangOptions = ['zh', 'es-US', 'en-US', 'hi-IN', 'ar-EG', 'pt-BR', 'bn-IN', 'ru-RU', 'ja-JP']
        const languageOptions = ['Mandarin', 'Spanish', 'English', 'Hindi', 'Arabic', 'Portuguese', 'Bengali', 'Russian', 'Japanese']

        if (event.key != 'ArrowRight' && event.key != 'ArrowLeft') return
        if (event.key == 'ArrowRight') {
            languageIndex++
            if (languageIndex == languageOptions.length) languageIndex = 0
        } else if (event.key == 'ArrowLeft') {
            languageIndex--
            if (languageIndex < 0) languageIndex = languageOptions.length - 1
        }
        document.getElementById('language').innerHTML = languageOptions[languageIndex % (languageOptions.length)]

        // change the language
        recognition.lang = shorthandLangOptions[languageIndex % (shorthandLangOptions.length)]

    }
    document.addEventListener('keydown', languageChangeClick)
</script>
</html>