<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>URLengthen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <!-- <p id='header-text'>Tap to change language</p>
        <p id='speech-to-text-output'></p> -->
        <form action="/" method = "POST">
            <p>URL <input type="text" name="url" value="{{ original_url }}"/></p>
            <p><input type="submit" value="Submit"/></p>
            <p>URL: {{ original_url }}</p>
            <p>Hashed URL: </p><a href="{{ hashed_url }}">{{ hashed_url }}</a>
        </form>
    </div>
</body>
</html>